html {
    height: 100%;
    width: 100%;
    background: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
header {
    background-color: rosybrown;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}
#login {
    right: 1%;
    margin-right: 2%;
    margin-top: 1.2%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0%;
}
footer {
    height: 60px;
    background-color: rosybrown;
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
}
.foot img{
    height: 20px;
    width: 22px;
    float: right;
}
#copyright {
    font-size: 10px;
}
.foot {
    margin: 2%;
}
a{
    text-decoration: none;
    color: black;    
}
